body {
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-weight:bold;
    font-size:400%;
}

hr {
    margin-top: 0px;
    padding-top:0px;
    border-top:0px;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
  }
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  .jumbotron .container {
    z-index: 2;
    position: relative;
  }

#banner {
    padding-top:225px;
    padding-bottom:225px;
}

nav {
    opacity:0.95;
}

#jumbotext {
    background-color: #9381ff;
    color:black;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:20px;
    padding-left:20px;
    opacity:0.85;
    border-radius: 5px;
    font-weight:bold;
    text-align: center;
    box-shadow: 0 10px 10px -5px black;
}

section {
    margin: 0;
    background-color: #9381ff;
    font-family: 'Raleway Dots', sans-serif;
    opacity:0.85;
  }
  
  section #services {
    text-align: center;
    transform: translatez(0);
  }
  section #services li {
    display: inline-block;
    list-style: none;
  }
  section #services li div {
    width: 50px;
    height: 50px;
    color: #9381ff;
    font-size: 2.5em;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    transition: all 0.5s ease;
    border-radius:10px;
  }
  section #services li a {
    color:  #9381ff;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
  }

ul {
    padding-left:0px;
}

img {
    margin-left:auto;
    margin-right:auto;
}

.navbar-brand {
    box-shadow: 0 5px 5px -5px black;
}