body {
    font-family: 'Mulish', sans-serif;
    overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

#banner {
  height:100%;
  width:100%;
  padding-top:40vh;
  padding-bottom:300px;
}

#jumbotext {
  background-color: black;
  color:black;
  padding-top:50px;
  padding-bottom:50px;
  padding-right:20px;
  padding-left:20px;
  opacity:0.70;
  border-radius: 5px;
  font-weight:bold;
  text-align: center;
  box-shadow: 0 10px 10px -5px black;
  margin-bottom: 0px;
  border-bottom:0px;
}

#aboutme {
    padding-top:100px;
    background-color:#f7f7f7;
    color:black;
    object-fit:cover;
    padding-bottom:100px;
}

#projects {
  background-color:white;
  padding-top:100px;
  padding-bottom:100px;
}

h1 {
    font-weight:bold;
    font-size:400%;
}

hr {
    margin-top: 0px;
    padding-top:0px;
    border-top:0px;
}

nav {
    opacity:0.95;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

ul {
    padding-left:0px;
}

img {
    margin-left:auto;
    margin-right:auto;
}

.aboutmepic {
    width: 700px;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    vertical-align: middle;
    border-style: none;
}

.aboutmetext {
    padding-top:40px;
    font-size:170%;
}

/* Jumbotron CSS and Video */
.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  margin-bottom: 0px;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}

/* Button CSS & Button Animation */
section {
  margin: 0;
  background-color: black;
  font-family: 'Raleway Dots', sans-serif;
  opacity:0.85;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services li {
  display: inline-block;
  list-style: none;
}
section #services li div {
  width: 50px;
  height: 50px;
  color: black;
  font-size: 2.0em;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  transition: all 0.5s ease;
  border-radius:10px;
}
section #services li a {
  color:  black;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}

/*
Card CSS & Flip Animation
*/

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
.card-front {
    transform: rotateY(0deg);
}
  
.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}
  
.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}
    
.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

footer {
  background-color:#f7f7f7;
  padding-bottom:20px;
  padding-top:20px;
  text-align:center;
}